body {
    color: rgb(238,236,230);
    font-family: 'Inter Tight', sans-serif;
  }
  
  li {
      border-bottom: 1px dotted white;
      padding: 1rem 0;
  }
  
  li:hover {
      background-color: rgb(117, 117, 117);
      color: #030303;
  }
  
  /* for CSS Transition */
  .fade-enter {
    opacity: 0;
    z-index: 1;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
  }
  
  .fade-exit {
    opacity: 0;
  }
  
  .fade-exit-acive {
    opacity: 0;
    transition: opacity 200ms ease-out;
  }
  
  /* Styling for the right hand side */
  .link-content {
  /* 
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: left;
    max-width: 75vw;
    font-family: 'Inter Tight', sans-serif;
    padding: 1rem 0rem; */
  }